/node_modules
/build
gradle
gradlew
gradlew.bat
.gradle 
xcuserdata
largeFile.txt
assets/*
!assets/index.html
/package-lock.json
main.js
*.map
.DS_Store
/ios/testapp/assets/**/*.js
/ios/testapp/assets/index.html
/ios/testapp/assets/largeFile.txt
